<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style/warehouse-style.css">
    <title>Warehouse</title>
</head>
<body>

    <p class="font-CFOctobre">
        Welcome to the warehouse!<br>
    </p>

    <div class="clearfix">
        <div class="img-box">
            <div align="middle">
                <img src="image/gear_1.png" alt="Gear" style="width:30%">
            </div>
        </div>
        <div class="img-box" align="middle">
            <a href="/panel">
                <button class="button-style">
                    Control Panel
                </button>
            </a>
        </div>
        <div class="img-box">
        </div>
    </div>
</body>
</html>