<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style/panel-style.css">
    <meta charset="UTF-8">
    <title>Control Panel</title>
</head>
<body>
    <h1>
        Control Panel<br>
    </h1>

<table>
    <tr>
        <th>
            Function
        </th>
        <th>
            Description
        </th>
    </tr>
    <tr>
        <td>
            Show Goods
        </td>
        <td>
            Display all available goods in the warehouse
        </td>
    </tr>
    <tr>
        <td>
            a
        </td>
        <td>
            aaaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaa
        </td>
    </tr>
</table>

</body>
</html>