<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style/panel-style.css">
    <meta charset="UTF-8">
    <title>Control Panel</title>
</head>
<body>
    <h1>
        Control Panel<br>
    </h1>

<table>
    <tr>
        <th>
            Function
        </th>
        <th>
            Description
        </th>
    </tr>
    <tr>
        <td>
            <a href="/panel/show-goods">
                <button>
                    Show Goods
                </button>
            </a>
        </td>
        <td>
            Display all available goods in the warehouse
        </td>
    </tr>
    <tr>
        <td>
            <a href="/panel/add-goods">
                <button>
                    Add Goods
                </button>
            </a>
        </td>
        <td>
            Add new goods to the warehouse
        </td>
    </tr>
    <tr>
        <td>
            <a href="/panel/edit-goods">
                <button>
                    Edit Goods
                </button>
            </a>
        </td>
        <td>
            Edit Goods From The Warehouse
        </td>
    </tr>
    <tr>
        <td>
            <a href="/panel/delete-goods">
                <button>
                    Delete Goods
                </button>
            </a>
        </td>
        <td>
            Delete goods from the warehouse
        </td>
    </tr>
    <tr>
        <td>
            <a href="/panel/add-category">
                <button>
                    Add Category
                </button>
            </a>
        </td>
        <td>
            Add new Category To The Warehouse
        </td>
    </tr>
    <tr>
        <td>
            <a href="/panel/delete-category">
                <button>
                    Delete Category
                </button>
            </a>
        </td>
        <td>
            Delete Category From The Warehouse
        </td>
    </tr>
</table>

</body>
</html>